
		<div class="card quest_form">
			<%= form_with model: @question, id: "new-question" do |f| %>
				<%= f.text_field :title, placeholder: 'Title', class: "title" %>
				<%= f.text_area :content, placeholder: 'Content', class: 'content' %>
				<%= f.submit %>
			<% end %>
		</div>
