<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<div class="questions">
	<div class="row question">
  	<div class="col s10 offset-s1">
    	<div class="card hoverable">
				<% @questions.each do |question| %>
					<%= render question, full: true %>
				<% end %>
			</div>
		</div>
	</div>
</div>
