<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<% @questions.each do |question| %>
	<div class="questions">
		<div class="row question">
			<%= link_to question do %>
	  	<div class="col s10 offset-s1 index-card">
	    	<div class="card hoverable">
						<%= render question, full: true %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<% end %>
