<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>


<%= render :partial => "question", :locals => { :question => @question } %>
<%= render '/answers/answer_form' %>
<div class=" row answer_wrapper">
	<% @answers.all.reverse.each do |answer| %>
		<%= render answer %>
	<% end %>
</div>
