<div class="row post_wrapper">
	<% @posts.all.reverse.each do |post| %>
		<div class="col s10 offset-s1 index-card">
			<%= link_to post do %>
				<div class="card hoverable">
					<div class="card-content row">
						<%= render post, full: true %>
					</div>
					<br>
					<hr>
				</div>
			<% end %>
		</div>
		<br>
	<% end %>
</div>
