<div class="row post_wrapper">
	<% @posts.all.reverse.each do |post| %>
		<div class="col s10 offset-s1">
			<div class="card hoverable">
				<div class="card-content">
					<%= render post, full: true %>
				</div>
			</div>
		</div>
		<br>
	<% end %>
</div>

