<div class="row post_wrapper">
	<% @posts.all.reverse.each do |post| %>
		<div class="col s12 m6">
			<div class="card hoverable">
				<div class="card-content">
					<%= render post %>
				</div>
			</div>
		</div>
	<% end %>
</div>

