/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.account{
	textarea{
		width: 100%;
		min-height: 100px;
	}
}

body {
	background: #f3e5f5;
}

pre {
	background: lightgrey;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 2%;
}

.vote-box {
	position: absolute;
	top: 20%;
	left: -7%;
	width: 50px;
	height: 130px;
	border-radius: 3px;
	border: 2px solid black;
}

.upvote {
	position: absolute;
	top: 3%;
	left: 15%;
	background: black;
	width: 70%;
	height: 25%;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	cursor: pointer;
}

.downvote {
	position: absolute;
	bottom: 30%;
	left: 15%;
	background: black;
	width: 70%;
	height: 25%;
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	cursor: pointer;
}

.rep-value {
	position: absolute;
	top: 30%;
	left: 40%;
	color: black;
	width: 70%;
	height: 10px;
}

.star-button {
	position: absolute;
	bottom: 3%;
	left: 15%;
	background: orange;
	width: 70%;
	height: 30px;
	clip-path: polygon(50% 0%, 82% 100%, 0% 38%, 100% 38%, 18% 100%);
	cursor: pointer;
}



