// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quest-header{
	padding: 2%;
	text-align: center;
}

.quest_form{
	padding: 0 2%;
	.content{
		min-height: 200px;
	}
}

.style_buttons{
  float: right;
  position: relative;
  top: -162px;
}

.color_black{
	color: black;
}