$stormy: #494E6B;
$cloud: #98878F;
$sunset: #985E6D;
$evening: #192231;

$rust: #B56357;
$mint: #B4DBC0;
$slate: #EAE3EA;
$seafoam: #A7B3A5;



$navbar-color: $evening !important;
$accent-color: $stormy !important;
$content-color: ghostwhite !important;
$background-color: $cloud !important;
$button-color: $sunset !important;
