// Place all the styles related to the tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.longcard {
	height: 1000px;
}

.tutorial-image {
	position: relative;
	width: 90%;
}