// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_wrapper {
	.name_photo {
		padding: 2% 0 0 2%;
	}
	.aboot{
		padding-left: 2%;
		p {
			padding-bottom: 2%;
		}
	}

	.user_has_deleted{
		text-align: center;
	}
}

#username_win{
	display: none;
}

#username_fail{
	display: none;
}

#email_win{
	display: none;
}
#email_fail{
	display: none;
}

.profile_pic_wrapper {
	float: left;
	height: 120px;
	width: 120px;
	position: relative;

}

.profile_pic {
	height: 90%;
	width: 90%;
	border-radius: 50%;
	position: absolute;
	left: 5%;
	top: 5%;

}

.trophy-image {
	width: 100px;
	height: 100px;
}

.hazey {
	position: relative;
	left: -7%;
	z-index: 1;
	background: rgba(0,0,0,.4);
	width: 114%;
	height: 100%;
}